@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
	.card-wrapper {
		@apply relative rounded-2xl;
	}

	@property --angle {
		syntax: "<angle>";
		initial-value: 0deg;
		inherits: false;
	}

	.card-wrapper::after, .card-wrapper::before {
		background: conic-gradient(
			from var(--angle),
			rgba(244, 114, 182, 0.4),
			rgba(192, 132, 252, 0.4),
			rgba(107, 84, 255, 0.4),
			rgba(130, 177, 255, 0.4),
			rgba(244, 114, 182, 0.4)
		);
		animation: border-spin 2s linear infinite paused;
		transition: opacity 0.2s ease-in-out;

		@apply content-[''] absolute inset-0 rounded-2xl opacity-0;
	}

	.card-wrapper::before {
		filter: blur(1rem);
	}

	.card-wrapper:hover::after, .card-wrapper:hover::before {
		animation-play-state: running;
		@apply opacity-100;
	}

	.card-content {
		@apply relative w-[calc(100%-2px)] h-[calc(100%-2px)] top-[1px] left-[1px] rounded-2xl bg-neutral-900 p-5 z-10;
	}

	.card-border {
		@apply absolute inset-0 rounded-2xl bg-neutral-800;
	}
}

@keyframes border-spin {
	to {
		--angle: 360deg;
	}
}
